.header {
    // height: 100px;
    background-image: linear-gradient(to top, #000000, #202020);
    // background-color: white;
    .header__content {
        padding: 25px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1 {
            margin: 0 0;
            color: white;
            font-weight: 100;
            text-align: right;
            letter-spacing: 1rem;
            font-size: 2.3rem;
        }
    }
}
